<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout.html :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container card pt-5 pb-5">
  <h3 class="title">Create Task  </h3>
  <form th:object="${task}" action="/task/create" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="3"></textarea>
    </div>
    <div id="date_time">
<!--      <div id="none-daily">-->
<!--        <div class="mb-3">-->
<!--          <label for="start" class="form-label">Start</label>-->
<!--          <input type="datetime-local" class="form-control" id="start" name="start" th:field="*{start}">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="end" class="form-label">End</label>-->
<!--          <input type="datetime-local" class="form-control" id="end" name="end" th:field="*{end}">-->
<!--        </div>-->
<!--      </div>-->
      <div id="daily">
        <div class="mb-3">
          <label for="start" class="form-label">Start</label>
          <input type="time" class="form-control" id="start" name="start" th:field="*{start}">
        </div>
        <div class="mb-3">
          <label for="end" class="form-label">End</label>
          <input type="time" class="form-control" id="end" name="end" th:field="*{end}">
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select onchange="onChange(this)" class="form-control" id="type" name="type" th:field="*{type}">
        <option th:each="type : ${taskTypes}" th:value="${type}" th:text="${type}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
</div>
<th:block th:insert="~{layout.html :: myScript}"></th:block>
<script th:inline="javascript">
  const start = document.getElementById('start');
  const end = document.getElementById('end');
  function onChange(e) {
    if(e.value=== 'DAILY'){
        start.type = 'time';
        end.type = 'time';
    }else{
        start.type = 'datetime-local'
        end.type = 'datetime-local'
    }
  }
</script>
</body>
</html>