<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout.html :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container card pt-5 pb-5">
    <h3 class="title">Edit Task </h3>
    <form th:object="${task}" th:action="@{/task/edit/{id}(id=${task.id})}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" th:field="*{description}"
                      rows="3"></textarea>
        </div>
        <div id="date_time">
            <!--      <div id="none-daily">-->
            <!--        <div class="mb-3">-->
            <!--          <label for="start" class="form-label">Start</label>-->
            <!--          <input type="datetime-local" class="form-control" id="start" name="start" th:field="*{start}">-->
            <!--        </div>-->
            <!--        <div class="mb-3">-->
            <!--          <label for="end" class="form-label">End</label>-->
            <!--          <input type="datetime-local" class="form-control" id="end" name="end" th:field="*{end}">-->
            <!--        </div>-->
            <!--      </div>-->
            <div id="daily">
                <div class="mb-3">
                    <label for="start" class="form-label">Start</label>
                    <input th:type="${task.type.toString() == 'DAILY' ? 'time' : 'datetime-local' }" class="form-control" id="start" name="start" th:value="${task.getStartTime()}">
                </div>
                <div class="mb-3">
                    <label for="end" class="form-label">End</label>
                    <input  th:type="${task.type.toString() == 'DAILY' ? 'time' : 'datetime-local' }" class="form-control" id="end" name="end" th:value="${task.getEndTime()}">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input class="form-control" id="type" disabled th:value="${task.type}">
        </div>
        <div class="mb-3">

            <input class="form-check-input" type="radio" id="isEditAll" name="isEditAll" value="true"/>
            <label for="isEditAll" class="form-check-label">Edit All</label>

            <input class="form-check-input" type="radio" id="isEditToday" name="isEditAll" value="false"/>
            <label for="isEditToday" class="form-check-label">Edit For Today</label>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Edit Task</button>
        <a href="/task" class="btn btn-primary"><i class="fa-solid fa-left-long"></i> Back</a>
    </form>
</div>
<th:block th:insert="~{layout.html :: myScript}"></th:block>
<script th:inline="javascript">

</script>
</body>
</html>