<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout.html :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container card" style="height: 100vh">
    <h1 class="text-center"> User Management </h1>
    <div class="row pt-4 pb-4" >
        <div class="col-2">
            <a class="btn btn-primary" th:href="@{/user/create}">
                Create
            </a>
        </div>
        <div class="col-4">

        </div>
        <div class="col-6">
            <form class="d-flex">
                <input type="search" class="form-control me-2" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Full Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.dob}">Date of Birth</td>
            <td th:text="${user.gender.name}">Gender</td>
            <td th:text="${user.fullName}">Full Name</td>
            <td>
                <a class="btn" th:href="@{/user/edit/{id}(id=${user.id})}">
                    <i class="fa-regular fa-pen-to-square text-success"></i>
                </a>
                <a class="btn" th:href="@{/user/delete/{id}(id=${user.id})}">
                    <i class="fa-regular fa-trash-can text-danger"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:insert="~{layout.html :: myScript}"></th:block>
</body>
</html>